/* GLOBAL GRID AND VARIABLES */

:root {
    --main-color: #1d90d3;
    --light-bg: #e0e0e0;
    --clear-window: #fff;
    --accent-color: #f7bd00;
    --dark-text: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--light-bg);
}

/* SIDEBAR MENU */

.sidebar {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    grid-row: 1 / -1;
}

.sidebar .logo {
    color: var(--clear-window);
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}
.logo span svg {
    height: 1.8rem;
}

.sidebar svg {
    height: 1rem;
    fill: var(--clear-window);
}

.navLinks a {
    color: var(--clear-window);
    text-decoration: none;
}

#settingsLink {
    margin-top: 1.4rem;
}

.navLinks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
}

/* TOP HEADER BOX */

.notificationBell svg {
    height: 1.6rem;
    fill: var(--dark-text);
}

.searchBar {
    display: flex;
    align-items: flex-end;
}
.searchBar input {
    width: 25vw;
    border-radius: 16px;
    border: none;
    background-color: var(--light-bg);
    height: 2rem;
    padding: 1rem;
}

.searchBar label svg {
    height: 1.6rem;
    fill: var(--dark-text);
}

.profilePic {
    background-image: url(./images/fox.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.topHeader {
    grid-row: 1 / 2;
    background-color: var(--clear-window);
    color: var(--dark-text);
    padding: 1rem 2rem; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.topHeader .firstLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10vw;
}

.userProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 700;
}

.profilePicBig {
    background-image: url(./images/fox.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.topHeader .secondLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.greeting p {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
}
.greeting h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
}

.secondLine button {
    background-color: var(--main-color);
    border: none;
    padding: 0.4rem 1.6rem;
    border-radius: 28px;
    color: var(--clear-window);
    font-weight: 500;
    font-size: 0.8rem;
}

.secondLine .greetProfile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerButtons {
    display: flex;
    gap: 1rem;
}

/* MAIN CONTENT */

.mainContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: auto;
    margin-bottom: 2rem;
    margin-right: 1rem;
}

.mainContent h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* YOUR PROJECTS SECTION */

.yourProjects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin: 0 1rem;
}

.projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.projectCard {
    background-color: var(--clear-window);
    color: var(--dark-text);
    padding: 1rem;
    text-align: justify;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    border-left: 6px solid var(--accent-color);
}

.projectCard h3 {
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.projectCard p {
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
}

.projectCard .cardIcons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.projectCard .cardIcons svg {
    fill: var(--dark-text);
    height: 1rem;
}

/* ANNOUNCEMENTS SECTION */

.announcementCard {
    background-color: var(--clear-window);
    padding: 1rem;
    color: var(--dark-text);
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.announcementCard h3 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.announcementCard p {
    font-size: 0.8rem;
}

.announcementCard hr {
    margin: 0.8rem 0;
}

/* TRENDING SECTION */

.trending {
    grid-column: 2 / 3;
}

.trendingCard {
    background-color: var(--clear-window);
    padding: 1rem;
    color: var(--dark-text);
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.picTag {
    color: var(--dark-text);
    display: flex;
    gap: 0.4rem;
    justify-content: flex-start;
    align-items: center;
}

.picTag h3 {
    font-size: 1rem;
    margin-bottom: 2px;
}
.picTag p {
    font-size: 0.8rem;
}

.profilePic1,
.profilePic2,
.profilePic3,
.profilePic4 {
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.profilePic1 {
    background-image: url(./images/elephant.jpg);
}
.profilePic2 {
    background-image: url(./images/fox.jpg);
}
.profilePic3 {
    background-image: url(./images/lion.jpg);
}
.profilePic4 {
    background-image: url(./images/squirrel.jpg);
}

